.binary-search {
  flex: 60%;
  text-align: center;
  /* background-color: rosybrown; */
  /* width: 80%; */
  /* background-color: rebeccapurple; */
}

#heading {
  color: var(--pm-clr);
  font-size: 1rem;
}

.sub-heading {
  font-weight: bold;
  font-size: 0.8rem;
  color: var(--sc-clr);
}
