.header {
    align-items: center;
    padding: 2px;
    text-align: center;
}

#header-text {
    color: white;
    text-align: center;
    font-weight: bold;

    font-size: 40px;
}

#subheader-text {
    color: rgb(101, 128, 223);
    font-size: 15px;
    text-align: center;
}
