.linear-search {
  text-align: center;
  /* background-color: rosybrown; */
  width: 100%;
}

#heading {
  color: var(--pm-clr);
}

.sub-heading {
  font-weight: bold;
  font-size: 0.8rem;
  color: var(--sc-clr);
}

.array {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  /* width: 50%; */
  align-items: center;
}

.arr-box {
  flex: 1;
  /* background-color: rgb(226, 233, 240); */
  color: var(--sc-clr);
  border: 4px solid var(--pm-clr);
  text-align: center;
  /* max-width: 2rem; */
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.arr-box:nth-child(4) {
  background-color: yellow;
}

.btn-group .button {
  background-color: var(--sc-clr);
  border: none;
  color: white;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.5rem;
  cursor: pointer;
  margin: 2px;
  margin-top: 8px;
  /* float: left; */
}

.btn-group .button:hover {
  background-color: var(--pm-clr);
}

@media only screen and (min-width: 400px) {
  .array {
    width: 50%;
  }
}

@media only screen and (min-width: 900px) {
  .array {
    width: 20%;
    margin: auto;
  }
}
