.nav-bar {
  background-color: rgba(73, 105, 221, 0.2);
  padding: 0.2rem;
  margin: 0.5rem;
  margin-top: 0;
  border-radius: 25px;
  /* border: 1px solid black; */
  box-shadow: 1px 2px var(--pm-clr);
}

.nav-items {
  list-style: none;
}

.nav-items a {
  color: var(--pm-clr);
  font-weight: bold;
  text-decoration: none;
  font-size: 1rem;
}

.nav-item {
  flex: 1;
  border: 10px black;
  margin: 5px;
  text-align: center;
  padding: 0.2rem;
  border-radius: 25px;
}

.nav-item:hover {
  background-color: rgb(255, 255, 255);
}

.navbar__link--active {
  border-bottom: 3px solid var(--sc-clr);
  transition: border-bottom 0.2s ease-in-out;
}

@media only screen and (max-width: 400px) {
  .nav-bar {
    margin: 0;
  }

  .nav-items {
    margin: 0;
    padding: 0;
  }
  .nav-item {
    flex: 1;
    border: 10px black;
    /* margin: 5px; */
    text-align: center;
    /* padding: 0.2rem; */
    border-radius: 25px;
  }
}
