.CodeArea {
  flex: 75%;
  border: rgb(0, 41, 88) solid 0.5px;
  overflow: auto;
  border-radius: 35px;
  background-color: azure;
  margin-right: 1.5px;
  height: 600px;
  padding: 1px;
}

.code-area-header {
  color: rgb(0, 41, 88);
  font-weight: bold;
  font-family: Comic Sans Ms;
  font-weight: bold;
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 1px;
}

#try-btn {
  margin: auto;
  width: 300px;
  height: 40px;
  background-color: rgb(0, 41, 88);
  color: white;
  font-family: Comic Sans Ms;
  border-radius: 25px;
  position: relative;
  align-items: center;
}
