.Editor {
  font-family: Comic Sans Ms;
  font-size: 14px;
  color: rgb(0, 41, 88);
  position: relative;
  background-color: rgb(229, 233, 250);
  border: 0.5px solid gray;
  border-radius: 13px;
  margin: 12px;
  align-items: center;
  padding: 5px;
  /* height: 90%; */
  height: auto;
  width: auto;
}

.Editor h2 {
  font-size: 28px;
}
