/* 
    This section serves as container for code area and image area
*/

.GameArea {
  text-align: center;
  margin-top: 12px;
  align-items: center;
  height: 60%;
}

.container {
  display: flex;
}
