/* 
    This section serves as container for code area and image area
*/

.GameArea {
  background-color: white;
  margin-top: 12px;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
