.ImageArea {
  flex: 30%;
  justify-content: center;
  border: rgb(0, 41, 88) solid 0.5px;
  background-color: azure;
  border-radius: 35px;
  margin-left: 0.5px;
}

.image-area-header {
  color: rgb(0, 41, 88);
  text-align: center;
  font-weight: bold;
  font-family: Comic Sans MS;
  font-weight: bold;
  font-size: 30px;
  margin-top: auto;
}
