.Line {
  width: 99%;
  border: 0.5px #102a77 solid;
  border-radius: 10px;
  /* padding: 2px; */
  padding-left: 5px;
  margin: 1px;
  background-color: rgb(241, 243, 248);
}

.Line p {
  text-align: left;
  font-size: 12px;
  font-weight: bold;
  font-family: monospace;
  margin-left: 5px;
}
