.Tools {
  padding: 2px;
  border-radius: 5px;
  margin-top: 1px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.tool-btns {
  padding: 2px;
  margin: 2px;
  background-color: #f1ffd6;
  color: rgb(0, 41, 88);
  border: 1.2px solid rgb(0, 41, 88);
  font-family: Comic Sans Ms;
  font-size: 12px;
  width: auto;
  height: auto;
  -webkit-box-shadow: 0 4px 3px -3px black;
  -moz-box-shadow: 0 4px 3 px -3px black;
  box-shadow: 0 2px 2px -2px black;
}
.tool-btns:hover {
  background-color: rgb(108, 108, 216);
}
.tool-btns:active {
  background-color: white;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

