:root {
  --pm-clr: rgb(0, 41, 88);
  --sc-clr: rgb(82, 111, 212);
}

.App {
  font-family: monospace;
}

.array-methods {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 1000px) {
  .array-methods {
    display: flex;
    flex-direction: column;
  }
}
